.index {
    position: relative;
  }
  
  .index .portoholding-RGB-h-2 {
    height: 113px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 50px; /* Ajuste a distância vertical do logotipo conforme necessário */
    width: 340px;
    
  }
  
  .index .text-wrapper-13 {
    color: #ffffff;
    font-family: "Readex Pro", Helvetica;
    font-size: 65px;
    font-weight: 400;
    height: 288px;
    left: 59px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 200px; /* Ajuste a distância vertical do texto conforme necessário */
    width: 733px;
    position: relative;
  }
  
  .index .button-cadastre-se {
    background-color: #00ade1;
    border-radius: 40px;
    height: 102px;
    position: absolute;
    bottom: 50px; /* Ajuste a distância vertical do botão conforme necessário */
    left: -800px; /* Ajuste a distância horizontal do botão conforme necessário */
    width: 290px;
    position: relative;
  }
  
  .index .button-cadastre-se .text-wrapper {
    color: #ffffff;
    font-family: "Readex Pro", Helvetica;
    font-size: 30px;
    font-weight: 400;
    height: 48px;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 26px;
    width: 198px;
    
  }
  